::-webkit-scrollbar {
    width: 12px;
  }
  ::-webkit-scrollbar-track {
    border-radius: 10px;
  }
  
  ::-webkit-scrollbar-thumb {
    background: #f7b135;
  }
  ::-webkit-scrollbar-thumb:window-inactive {
    background: #f7b135;
  }

.bordered {
    border-style: solid;
    border-width: 1px 0px 1px 0px;
    border-color: #E4E4E4;
}

.top-navbar {
    padding-top: 10px;
    padding-bottom: 10px;
}



.mr-3 {
    margin-right: 30px;
}

.mr-5 {
    margin-right: 50px;
}

.ml-3 {
    margin-left: 30px;
}

.mu-3 {
    margin-top: 20px;
}

.mt_5{
    margin-top: 5px;
}

.mb-3 {
    margin-bottom: 30px;
}

.cl-black {
    color:#000000;
}

.cl-orange {
    color: #f7b135;
}

.box-title {
    color: #000000;
    font-family: "Source Sans Pro", Sans-Serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 22px;
}

.ml-5 {
    margin-left: 8px;
}

.ml-80 {
    margin-left: 70px;
}

.mt_16{
    margin-top: 16px;
}

.mt_20{
    margin-top: 20PX;
}

.ml-450 {
    margin-left: 210px;
}

.navbar-logo {
    float: left !important;
}



.container-custom {
    flex-wrap: inherit;
    align-items: center;
    justify-content: space-between;
}

.navbar>.container, .navbar>.container-fluid, .navbar>.container-lg, .navbar>.container-md, .navbar>.container-sm, .navbar>.container-xl, .navbar>.container-xxl {
    display: inline-block;
}

.nav-link:hover{
    color: #f7b135;
}

.nav-link {
    color: #000;
}

.navbar-nav .nav-link.active {
    color: #f7b135;
}
.navbar {
    --mdb-navbar-box-shadow: none;
}

.social:hover{
    color: #f7b135;
}

h1{
    font-family: 'Bahnschrift';
    font-size: 45px;
}

.btn-book{  
    width: 188px;
    height: 48px;
    background-color: #f19d0b;
    color: #fff;
}

.btn-book:hover{  
    background-color:#f7b135 ;
}

.goog-te-gadget-icon {
    display:none;
}

.goog-te-gadget{
    border:1px solid #e8e4e4 !important;
}
.goog-te-gadget-simple .VIpgJd-ZVi9od-xl07Ob-lTBxed span {
    font-family: "Source Sans Pro", Sans-Serif;
}

.goog-te-gadget-simple {
    
    background-color: #fbfbfb !important;
    border: 1px #E4E4E4 !important;
    font-size: 10pt;
    font-weight:550;
    display: inline-block;
    padding:10px 10px !important;
    cursor: pointer;
    zoom: 1;
}
  
.goog-te-gadget-simple  span {
    font-family: "Source Sans Pro", Sans-Serif;
    color:#000000 !important;
}

@media (min-width:1025px) {
    .servicescontainer{
        margin-top: 30px;
        text-align: center;
        padding-left: 160px;
        padding-right:160px;
    }
    .mainsliderimage{
        height: 650px;
    }
    .row-services {
        margin-top: 40px;
    }
    .card_img{
        padding: 40px; 
        width: 300px;
        height: 300px;
    }
    .aboutustext {
        margin-top: 80px;
    }
    .aboutusimg{
        margin-top: 30px;
    }
    .margin-left-3{
        margin-left: 30px;
    }
    .mobile{
        display: none;
    }
    .text_book {
        margin-top: 120px;
        margin-left: 120px;
    }
    .h6_book{
        display: none;
    }
    .ml-mr{
        margin: 0px 30px 0px 30px;
    }
    #navbarCentered{
        margin-left: 35px;
    }
    .float-right {
        float: right !important;
    }
}



@media (max-width:450px) {
    .card-margin{
        margin-bottom: 20px;
    }
    .card_img{
        padding: 50px;
    }
    .card-title{
        text-align: center;
    }
    .card-section-title{
        text-align: center;
        margin-bottom: 20px;
    }
    .servicescontainer{
        margin-top: 60px;

    }
    #about {
        padding-bottom: 50px;
    }
    .bell_image{
        width: 370px;
    }
    .pc_phone{
        display: none;
    }
    .navbar-toggler{
        width: 55px;
        margin-top: 10px;
    }
    #google_translate_element{
        margin-top: 10px;
        width: 160px;
    }
    .h1_book{
        display: none;
    }
    .h6_book_text {
        width: 200px;
        margin-top: 30px;
    }
    #navbarCentered{
        margin-left: 20px;
    }
    
}