<header class="bg-light">
    <div class="container-fluid bordered top-navbar">
      <div class="row">
        <div class="col-md-6">
          <div class="ml-3">
            <a href="" class="me-4 link-secondary">
              <h8 class="box-title"><i class="fa fa-location-dot cl-orange" aria-hidden="true"></i><span class="ml-5">London, United Kingdom</span></h8>
            </a>
            <a href="" class="me-4 link-secondary">
              <h8 class="box-title"><i class="fa fa-envelope cl-orange" aria-hidden="true"></i><span class="ml-5">abc@gmail.com</span></h8>
            </a>
          </div>
        </div>
        <div class="col-md-6">
          <div class="float-right mr-3">
            <a href="" class="me-4 link-secondary">
              <i class="social fab fa-facebook-f cl-black"></i>
            </a>
            <a href="" class="me-4 link-secondary">
              <i class="social fab fa-instagram cl-black"></i>
            </a>
            <a href="" class="me-4 link-secondary">
              <i class="social fab fa-youtube cl-black"></i>
            </a>
          </div>
        </div>
      </div>
    </div>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <!-- Container wrapper -->
      <div class="container">
        <!-- Toggle button -->
        <button class="navbar-toggler" type="button" data-mdb-toggle="collapse"data-mdb-target="#navbarCentered"aria-controls="navbarCentered" aria-expanded="false" aria-label="Toggle navigation">
          <i class="fas fa-bars"></i>
        </button>
        <div class="row" >
          <div class="col-md-2">
            <div class="navbar-logo">
              <a class="navbar-brand mt-2 mt-lg-0" href="#">
                <img src="../static/img/sas_logo.png" height="60" alt="logo" loading="lazy" />
              </a>
            </div>
          </div>
          <div class="col-md-8 mt_16">
            <!-- Collapsible wrapper -->
            <div class="collapse navbar-collapse ml-80" id="navbarCentered"> 
              <!-- Left links -->
              <ul class="navbar-nav mb-2 mb-lg-0">
                <li class="nav-item ml-mr">
                  <a class="nav-link active" aria-current="page" href="#">HOME</a>
                </li>
                <li class="nav-item ml-mr">
                  <a class="nav-link">ABOUT US</a>
                </li>
                <li class="nav-item ml-mr">
                  <a class="nav-link" href="#">GALLERY</a>
                </li>
                <li class="nav-item ml-mr">
                  <a class="nav-link">REGISTER</a>
                </li>
              </ul>
              <!-- Left links -->
            </div>
            <!-- Collapsible wrapper -->
          </div>
          <div class="col-md-2 mt_20">
            <i class="fa fa-phone cl-black" aria-hidden="true"></i><span class="ml-5"><span class="cl-black">+44 7858480777</span></span>
          </div>
        </div>
      </div>
    </nav>
  </header>